@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "../../theme/local_variables.scss";

.login {
    height: 100vh;
    background-color: $background-color;
    // background-image: url('../../assets/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login .background-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.login .background-circle.circle1 {
    background-color: $thirdly;
    top: -7%;
    left: -15%;
}

.login .background-circle.circle2 {
    background-color: $forth;
    top: 36%;
    right: -72px;
}

.login .header {
    height: 40vh;
    text-align: center;
    position: relative;
    background-color: $primary;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.login .header .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login .logo img {
    width: 80px;
    height: 80px;
}

.login .logo {
    text-align: center;
    font-size: 45px;
    color: $white-color;
    animation: logo 1.5s;

    border: 1px solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0px auto;
    position: relative;
}

.login .logo svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login .logo-text {
    font-family: 'Pacifico', cursive;
    color: $white-color;
}

.login .logo-text h2 {
    margin-top: 10px;
    font-weight: bold;
}

.login .form {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.login .form h3 {
    color: $primary;
    margin-bottom: 10px;
    font-weight: bold;
}

.login .form .text {
    color: #777;
    margin-bottom: 5px;
}

.login .login-form {
    display: flex;
    justify-content: space-between;
}

.login .login-form input {
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 5px 7px;
    border-radius: 5px;
    text-align: center;
    width: 9%;
    color: $text-color;
    background-color: $light-grey;
}

.login .login-form-otp {
    display: flex;
}

.login .login-form-otp input {
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 5px 7px;
    border-radius: 5px;
    text-align: center;
    width: 9%;
    color: $text-color;
    margin-right: 10px;
    background-color: $light-grey;
}

.login .form .button-area {
    // text-align: center;
}

.login .form .button-area .button {
    background-color: $secondary;
    color: #FFF;
    width: 150px;
    margin: 20px 0px;
    padding: 10px 14px;
    border-radius: 5px;
    text-align: center;
}

.login .footer-text {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    bottom: 10px;
    font-size: 12px;
    color: $grey-color;
    text-align: center;
    width: 100%;
}

@keyframes logo {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(360deg);
    }
}